html,
body {
  height: 100%;
}

body {
  @extend %mons-500;
  font-size: 18px;
  line-height: 31px;
  background-color: var(--bg-color);
  color: var(--main-text-color);
}

.container {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
}
