html,
body {
  height: 100%;
}

body {
  @extend %mons-500;
  font-size: 18px;
  line-height: 31px;
  background-color: var(--main-text-color);
  color: var(--main-text-color);
}

.container {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  &__img {
    @media (max-width: 1150px) {
      width: 160px;
    }
  }
}

.menu {
  &__list {
    display: flex;
    align-items: center;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 45px;
    }
  }
  &__link {
    @extend %lato-700;
    font-size: 22px;
    line-height: 26px;
    padding: 0 5px 5px;
    color: var(--main-text-accent);
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: var(--transition);

    &:hover {
      border-color: var(--main-text-accent);
    }

    @media (max-width: 1150px) {
      font-size: 18px;
      line-height: 22px;
    }
  }
}

.active {
  color: darken(#0063b2, 10%);
  border-color: darken(#0063b2, 10%);
}
