:root {
  --bg-color: #e5e5e5;
  --bg-accent: #6279ff;

  --main-text-color: #fff;
  --second-text-color: #504a4a;
  --placeholder-color: #abaaaa;
  --main-text-accent: #0063b2;

  --transition: all 0.3s ease-in-out;
}

%mons-400 {
  font-family: "Montserrat";
  font-weight: 400;
}

%mons-500 {
  font-family: "Montserrat";
  font-weight: 500;
}

%mons-700 {
  font-family: "Montserrat";
  font-weight: 700;
}

%lato-700 {
  font-family: "Lato";
  font-weight: 700;
}

%pt-700 {
  font-family: "PT Serif";
  font-weight: 700;
}
